<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .red {
            color: red;
        }

        .font-bold {
            font-weight: bold;
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    
</head>
<body>

    <div id="app">
        <template v-if="show">
            <div>1</div>
            <div>2</div>
            <div>3</div>
        </template>
        <div v-if="show">Yes</div><!-- true: 렌더링이 됨 , false : 렌더링이 되지 않음 -->
        <div v-else-if="show">Hi</div>
        <div v-else>NO</div>
        <button @click="toggle">Click</button>

        <div v-show="show">SHOW</div><!-- true: display:block , false : display:none -->
    </div>

    <script>
        new Vue({
            el: '#app',
            data: {
                show: true
            },
            methods: {//캐싱을 하지 않음
                toggle() {
                    this.show = !this.show;
                }
            }
            
        })
    </script>
    
</body>
</html>